@use "../base/variables.scss" as *;
@use "../base/color-palette.scss" as *;

.soc-text {
  &.is-primary {
    color: map-get($primary-colors, "normal");
  }

  &.is-success {
    color: map-get($success-colors, "normal");
  }

  &.is-warning {
    color: map-get($warning-colors, "normal");
  }

  &.is-error {
    color: map-get($error-colors, "normal");
  }

  &.is-disabled {
    color: map-get($disabled-colors, "normal");
  }
}